body{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container1 {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	height: 50%;
	width: 100%;
	text-align: center;
	line-height: 25vh;
	overflow: hidden;
	font-size: 32px;
	font-family: "Montserrat";
	color: #CFB53B;
}

.container2 {
	position: absolute;
	top: 50%;
	left: 0;
	background: #FFFFFF;
	height: 50%;
	width: 100%;
	text-align: center;
	line-height: 25vh;
	overflow: hidden;
	font-size: 32px;
	font-family: "Montserrat";
	color: #CFB53B;
}