body{
	margin: 0;
	padding: 0;
}

.container {
	background: black;
	height: 100vh;
	text-align: center;
	padding-top: 25%;
	overflow: none;
	font-size: 32px;
	font-family: "Montserrat";
	color: #CFB53B;
}
.container p {
/* 	color: white;  */
}