body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	cursor: none;
  background: white;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	height: 100%;
	width: 100%;
}



#TellikLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: 75%;
	font-family: sans-serif;
	background: transparent;
	color: #00A7C9;
  transform-origin: top left;
  transition: transform 0.3s, opacity 10s;
}

ul {
	position: absolute;
	top: 85%;
	left: 0;
	width: calc(100% - 55px);
	height: 40px;
	display: flex;
	font-family: sans-serif;
	background: transparent;
	color: #00A7C9;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

li {
	list-style: none;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 25px;
	filter: blur(1px);
	transition: all 2s;
	text-shadow: 2px 2px 5px red;
}

li:hover, li:hover ~ li {
	transform: rotate(20deg) translatey(-20px);
	opacity: 0;
	filter: blur(20px);
}

.cursor {
	position: fixed;
	background: #FFFFFF;
	mix-blend-mode: exclusion;
	width: 40px;
	height: 22px;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	will-change: transform;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
	transition: opacity;
	opacity: 0;
}

.cursor2 {
	position: fixed;
	background: #FFFFFF;
	mix-blend-mode: exclusion;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	will-change: transform;
	user-select: none;
	pointer-events: none;
	z-index: 10001;
	transition: opacity;
	opacity: 0;
}

.cursor3 {
	position: fixed;
	background: #FFFFFF;
	mix-blend-mode: exclusion;
	width: 10px;
	height: 10px;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	will-change: transform;
	user-select: none;
	pointer-events: none;
	z-index: 10002;
	transition: opacity;
	opacity: 0;
}

@media only screen and (max-width: 1000px) {
	body {
		overflow: scroll;
	}
	
	#TellikLogo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25%;
		width: 75%;
		height: auto;
	}
	
	ul {
		display: none;
	}
}